 @using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home page";

}


@* <div class="row ">
    <div class="card text-center" style="width: 18rem; border:1px solid black;">
    <div class="card-body row">
            <h3> Game</h3>
            <a asp-controller="Games" asp-action="Index" class="btn btn-outline-dark"> Games</a>
            <a asp-controller="Games" asp-action="Create"  class="btn btn-outline-success"> Create</a>
    </div>
</div>

    <div class="card text-center btn btn-outline-secondary" style="width: 18rem;border:1px solid black;">
        <div class="card-body row">
            <h3> Consoles </h3>
            <a asp-controller="Consoles" asp-action="Index" class="btn btn-outline-dark"> Games</a>
            <a asp-controller="Consoles" asp-action="Create" class="btn btn-outline-success"> Create</a>
  </div>
</div>

    <div class="card text-center btn btn-outline-light" style="width: 18rem; border:1px solid black;">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary"></a>
        </div>
    </div>
    <div class="card text-center btn btn-outline-light" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary"></a>
        </div>
    </div>
</div> *@ 


