@model Game

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Game</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="Id" hidden />
            <div class="border p-3 mt-4">

                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" class="form-control border-0 shadow" />
                    <label asp-for="Name" class="ms-2"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Description" class="form-control border-0 shadow" />
                    <label asp-for="Description" class="ms-2"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Level" class="form-control border-0 shadow" />
                    <label asp-for="Level" class="ms-2"></label>
                    <span asp-validation-for="Level" class="text-danger"></span>
                </div>

                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="button" class="btn btn-info form-control" onclick="updateAlert()">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Games" asp-action="Index" class="btn btn-dark border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        function updateAlert() {
            event.preventDefault();
            var form = event.target.form;
            Swal.fire({
                title: " Game Has Been Updated!",
                confirmButtonText: "Oh yeah!",
                confirmButtonColor: "#3085d6",
                showClass: {
                    popup: `
                      animate__animated
                      animate__fadeInUp
                      animate__faster
                    `
                },
                hideClass: {
                    popup: `
                      animate__animated
                      animate__fadeOutDown
                      animate__faster
                    `
                }
            }).then((result) => {
                if (result.value) {
                    form.submit();
                }
            })
        }
    </script>

}