<h2>Login</h2>
<form method="post" action="/Auth/Login">
    <div style="margin:5px;padding:5px">
        <label>Username:</label>
        <input type="text" name="Username" required />
    </div>
    <div style ="margin:5px;padding:5px">
        <label>Password:</label>
        <input type="password" name="Password" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
